<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>MBROUMSADJA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo">
                    <a href="/">
                        <strong><h1>MBROUMSADJA</h1></strong>
                    </a>
                </div>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/propos">pros</a></li>
                    <% if (typeof user !== 'undefined' && user) { %>
                        <li><a href="/profil"><%= user.prenom %> <%= user.nom %></a></li>
                    <% } else { %>
                        <li><a href="/inscription">Inscription</a></li>
                        <li><a href="/connexion">Connexion</a></li>
                    <% } %>
                    
                </ul>
            </div>
        </nav>
    </header>

</body>
</html>