<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <title>admin | newArticle</title>
    <style>
        body{
            margin: 10vw;
        }
        .container{
            padding: 2rem 7rem;
        }
        form input{
            width: 35vw;
            height: auto;
            font-size: 15px;
        }
        form textarea{
            height: auto;
        }
        .love{
            display: flex;
            justify-content: space-between;
            min-width: 135%;
            margin-top: -1.5rem;
        }
        .love button{
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        h2{
            font-size: 2rem;
            font-family: system-ui;
        }
        p{
            text-align: center;
            font-weight: 800;
            color:black;
        }
        p a{
            color: black;
        }
    </style>
</head>
<body>
   <div class="container">
    <div class="love">
        <button type="button"></button>
        <button type="button"></button>
    </div>
    <h2>Create new articles</h2>
    <form action="/love" method="POST">
        <label for="sourceId">Source ID :</label><br>
        <input type="text" id="sourceId" name="sourceId" maxlength="255" placeholder="cameroun"><br><br>

        <label for="sourceName">Nom de la source :</label><br>
        <input type="text" id="sourceName" name="sourceName" maxlength="255" required placeholder="NBCSports.com"><br><br>

        <label for="author">Auteur :</label><br>
        <input type="text" id="author" name="author" maxlength="255" placeholder="Josh Alper"><br><br>

        <label for="title">Titre :</label><br>
        <input type="text" id="title" name="title" maxlength="255" required placeholder="Zach Ertz: It comes down to having a really good QB and Jayden Daniels gives us one - NBC Sports"><br><br>

        <label for="description">Description :</label><br>
        <textarea id="description" name="description" spellcheck="false" placeholder="The Commanders' turnaround from a 4-13 record in 2023 to 11 wins and a playoff spot in 2024 can be attributed to several factors, but one player looms larger than most."></textarea><br><br>

        <label for="url">URL :</label><br>
        <input type="url" id="url" name="url" maxlength="255" required placeholder="https://www.nbcsports.com/nfl/profootballtalk/rumor-mill/news/zach-ertz-it-comes-down-to-having-a-really-good-qb-and-jayden-daniels-gives-us-one"><br><br>

        <label for="urlToImage">URL de l'image :</label><br>
        <input type="url" id="urlToImage" name="urlToImage" maxlength="255" placeholder="https://nbcsports.brightspotcdn.com/dims4/default/bdafbd1/2147483647/strip/true/crop/3770x2121+0+244/resize/1440x810!/quality/90/?url=https%3A%2F%2Fnbc-sports-production-nbc-sports.s3.us-east-1.amazonaws.com%2Fbrightspot%2Fa1%2Fb5%2F27c81eb744329fe5afeac3d85f39%2Fhttps-delivery-gettyimages.com%2Fdownloads%2F2191127740"><br><br>

        <label for="publishedAt">Date de publication :</label><br>
        <input type="datetime-local" id="publishedAt" name="publishedAt" required placeholder="2024-12-30T11:23:11Z"><br><br>

        <label for="content">Contenu :</label><br>
        <textarea id="content" name="content" required spellcheck="false" placeholder="The Commanders turnaround from a 4-13 record in 2023 to 11 wins and a playoff spot in 2024 can be attributed to several factors, but one player looms larger than most. \r\nQuarterback Jayden Daniels ar… [+1343 chars]"></textarea><br><br>
         <p>if you have any problem write me <a href="mailto:mbroumsadjaemmanuel645@gmail.com">mbroumsadja</a></p>
        <button type="submit">Enregistrer</button>
    </form>
   </div>
</body>
</html>