<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mbroumsadja | signup</title>
    <link rel="stylesheet" href="css/signin.css">
</head>
<body>
    <div class="retours">
        <button type="button"><a href="/">retour</a></button>
    </div>
    <div class="retour">
        <button type="button"><a href="/signin">signin</a></button>
    </div>
    <div class="container">
        <h2>SIGNUP</h2>
        <div class="connec">
           <button type="button"></button>
           <button type="button"></button>
           <button type="button"></button>
           <button type="button"></button>
        </div>
        <form action="/signup" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" required placeholder="exemple@gmail.com">
            <label for="username">username:</label>
            <input type="text" name="username" required placeholder="Rahoul Jean">
            <label for="password">password:</label>
            <input type="password" name="password" required maxlength="20" minlength="12">
            <label for="role">role:</label>
            <input type="text" placeholder="role is optionel" name="role">
            <button type="submit">enregistre</button>
         </form>
        <p>Have an account? <a href="/signin">Sign In</a></p>
    </div>
</body>
</html>