body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 7px;
    border-radius: 20px;
    padding: 0 4rem;
    font-family: system-ui;
    background-color: white;

}
h2{
   font-size: 1.5rem;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form input{
    border: none;
    border-radius: 5px;
    background: gainsboro;
    height: 1.2rem;
    padding:  .5rem 1rem;
    width: 20rem;
    margin-bottom: .2rem;
    font-family: system-ui;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
}
form input:focus{
    outline: none;
}
form input::placeholder{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
form label{
    margin-bottom: .3rem;
    color:rgb(0, 0, 14)
}
form button{
    margin-top: .7rem;
    padding: .1rem 0;
    font-size: 15px;
    border: none;
    padding: .2rem 0;
    border-radius: 5px;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
}
form button:hover{
    background: rgba(128, 128, 128, 0.329);
}

label{
    font-size: 13px;
} 
p{
    font-size: 13px;
} 
.connec{
    margin-bottom: 1rem;

}
.connec button{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    transition: ease;
    animation: back  1s ease-in-out;
}
.connec button:hover{
    background: gray;
}
.connec button:nth-child(1){
    animation-delay: 0s;
}
.connec button:nth-child(2){
    animation-delay: 1s;
}
.connec button:nth-child(3){
    animation-delay: 2s;
}
.connec button:nth-child(4){
    animation-delay: 3s;
}
@keyframes back {
    0%{
        background-color: gray;
    }
    25%{
        background-color: gainsboro;
    }
    50%{
        background-color: gray;
    }
100%{
    background-color: gray;
}
}

@media (max-width:410px) {
    .container{
      width: 50vw;
      margin-bottom: 10vh;
    }
    form input{
        width: 70vw;
    }
    p{
        font-size: 12px;
    }
}


.retour{
position: absolute;
top: 0;
right: 0;
}
.retour button{
    border: none;
    margin: 1rem;
    border-radius: 5px;
    padding: .3rem 1rem;
    font-size: 16px;
}
.retour button a{
    text-decoration: none;
    color: black
}

.retours{
    position: absolute;
    top: 0;
    left: 0;
}

.retours button{
    border: none;
    margin: 1rem;
    border-radius: 5px;
    padding: .3rem 1rem;
    font-size: 16px;
}

.retours button a{
    text-decoration: none;
    color: black
}
@media (min-width:410px) {
    body{
        display:  none;
    }
}